body {
    background-color: #FBEAE7; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #FFF5F1;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h2 {
    color: #FF8BA7; /* Purple text color */
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #FF8BA7;
    border-radius: 8px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #FF8BA7; /* Purple button */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #F76C6C; /* Darker purple on hover */
}
